<h1>Doctors Index</h1>
<% if current_user.doctor != nil %>
  <%= link_to 'Your Schedule', doctor_path(current_user.doctor.id) %>
  <%= link_to 'Add Patient', new_patient_path %>
  <%= link_to 'Add Appointment', new_doctor_appointment_path(current_user.doctor.id) %>
<% else %>
  <%= link_to 'Setup Doctor Account', new_doctor_path %>
<% end %>

<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>