<h1><%= current_user.first_name %>'s Schedule</h1>
  <% @doctor.patients.uniq.each do |patient| %>
      <%= patient.full_name %> 
        <ul>  
          <% patient.appointments.each do |appointment| %>
            <li> 
              <%= appointment.date %>
              <%= link_to 'Remove Appointment', [@doctor, appointment], method: :delete %>
            </li>
          <% end %>
        </ul>
  <% end %>
<%= link_to 'Doctor Index', doctors_path %>
        